/************************************************
* 0. global set                                  *
************************************************/
body {
    background-color: rgb(240, 240, 240);
    border-radius: 0;
}

#id-top-nav {
    border: none;
}

#id-top-nav .container-fluid {
    background-color: white !important;
}

@media (min-width: @screen-sm-min) {
    #id-top-nav {
        background-color: white !important;
        border: 1px solid lightgray;
        box-shadow: 1px 5px 5px rgb(235, 235, 235);
    }

    #id-top-nav .container-fluid {
        background-color: white !important;
        border: 1px solid lightgray;
        box-shadow: 1px 5px 5px rgb(235, 235, 235);
    }
}

/************************************************
* 1. home page                                  *
************************************************/
#id-message-list {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
    box-shadow: 1px 5px 5px rgb(235, 235, 235);
}

@media (min-width: @screen-sm-min) {
    #id-message-list {
        border: 1px solid lightgray;
    }
}

.cls-message-items {
    border-bottom: 1px solid lightgray;
    width: 100%;
    padding: 8px;
}

.cls-message-left {
    float: left;
    padding-left: 0;
}

.cls-message-right {
    float: left;
    padding-left: 15px;
}

.cls-message-time {
    color: lightgray;
}

.cls-message-text {
    word-break: normal;
    word-wrap: break-word;
}

.cls-message-img {
    height: 100%;
}

.cls-message-target .cls-message-items {
    background-color: rgb(245, 245, 245);
    border-bottom: none;
    padding-bottom: 5px;
    border-radius: 5px;
}

.cls-message-target .cls-message-right {
    padding-left: 0;
}

.cls-user-thumbnail img {
    min-width: 2.3em !important;
    min-height: 2.3em !important;
    border-radius: 3px;
}

.cls-img-wrapper {
    overflow: hidden;
    padding: 2px;
    float: left;
}

.cls-img-wrapper img {
    cursor: pointer;
    padding: 0;
    border-radius: 5px;

}

.cls-message-action {
    clear: left;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.cls-message-action span {
    text-align: center;
    color: gray;
    cursor: pointer;

}

.cls-message-reply .input-group {
    margin-bottom: 1em;
}

.cls-message-reply input {
    border-radius: 0;
}

.cls-message-reply .input-group-addon {
    border-radius: 0;
    background-color: rgb(250, 250, 250);
}

.cls-message-reply ul {
    padding: 5px 0 0;
    border-bottom: none;
}

.cls-message-reply li {
    border-bottom: 1px solid rgb(204, 204, 204);
    list-style-type: none;
}

.cls-message-retw .modal-content {
    border-radius: 0;
}

.cls-retw-modal-confirm, .cls-retw-modal-cancel {
    background: none;
    border-radius: 0;
    border: 1px solid rgb(225, 225, 225);
    color: rgb(100, 100, 100);
}

.is-liked-false {
    color: lightgray;
    text-align: right;
}

.is-liked-true {
    color: #d9534f !important;
    text-align: right;
}

#id-load-more {
    margin-top: 1.2em;
    margin-bottom: 3px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2em;
    color: gray;
    background-color: white;
    box-shadow: 1px 5px 5px rgb(235, 235, 235);
    cursor: pointer;
    position: relative;
}

@media (min-width: @screen-sm-min) {
    #id-load-more {
        border: 1px solid lightgray;
    }
}

#id-load-more a {
    text-decoration: none;
    color: grey;
}

#id-back-to-top {
    position: absolute;
    right: 5px;
    font-size: 1.2em;
    padding: 5px 5px 5px 2em;
    margin-left: 1.2em;
}

/************************************************
* 2. login page                                 *
************************************************/

#id-login-choice-container {
    margin-top: 10em;

    border: 1px solid gray;
    cursor: pointer;
    padding: 0;
}

.cls-login-choice {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 3em;
    opacity: 0.5;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#id-login-by-twi {
    border-bottom: 1px solid gray;
    color: #2e6da4;
}

#id-login-by-wei {
    color: #c7254e;
}