/************************************************
* 1. home page                                  *
************************************************/
.cls-user-thumbnail img {
    max-width: 2em;
    max-height: 2em;
}

.panel-heading {
    margin-bottom: 10px;
}

.panel-body {
    padding-top: 0;
}

.cls-img-wrapper {
    overflow: hidden;
    padding: 2px;
    float: left;
}

.cls-img-wrapper img {
    width: 100%;
    min-height: 100%;
    cursor: pointer;
}

.cls-message-action {
    clear: left;
    margin-top: 10px;
}

#id-load-more {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    text-align: center;
    border: 1px solid #f1e9e9;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.2em;
    border-radius: 5px;
    color: gray;
    cursor: pointer;
    position: relative;
}

#id-load-more a {
    text-decoration: none;
    color: grey;
}

#id-back-to-top {
    position: absolute;
    right: 5px;
    font-size: 1.2em;
    padding: 5px 5px 5px 2em;
    margin-left: 1.2em;
}

/************************************************
* 2. login page                                 *
************************************************/

#id-login-choice-container {
    margin-top: 10em;

    border: 1px solid gray;
    cursor: pointer;
    padding: 0;
}

.cls-login-choice {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 3em;
    opacity: 0.5;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#id-login-by-twi {
    border-bottom: 1px solid gray;
    color: #2e6da4;
}

#id-login-by-wei {
    color: #c7254e;
}