alembic==0.8.6
hiredis==0.2.0
Mako==1.0.4
MarkupSafe==0.23
oauthlib==1.1.2
psycopg2==2.6.2
pycurl==7.43.0
PySocks==1.5.7
python-dateutil==2.5.3
python-editor==1.0.1
requests==2.10.0
requests-oauthlib==0.6.2
six==1.10.0
SQLAlchemy==1.0.14
tornadis==0.7.0
tornado==4.3
