.cls-user-thumbnail img {
    max-width: 2em;
    max-height: 2em;
}

.panel-heading {
    margin-bottom: 10px;
}

.panel-body {
    padding-top: 0;
}

.cls-message-img {
    max-height: 20em;
    overflow: hidden;
}

.cls-img-wrapper {
    overflow: hidden;
    float: left;
}

.cls-img-wrapper img {
    width: 100%;
}

.cls-message-action {
    clear: left;
    margin-top: 10px;
}

#id-login-table {
    margin-top: 20em;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    box-shadow: 5px 5px 25px #888888;
}

#id-login-choices td {
    padding: 5em 8em;
    text-align: center;
    border: 1px solid #d8d3d3;
}

#id-load-more {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    text-align: center;
    border: 1px solid #f1e9e9;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.2em;
    border-radius: 5px;
    color: gray;
    cursor: pointer;
    position: relative;
}

#id-back-to-top {
    position: absolute;
    right: 5px;
    font-size: 1.2em;
    padding: 5px 5px 5px 2em;
    margin-left: 1.2em;
}

#id-load-more a {
    text-decoration: none;
    color: grey;
}