.cls-user-thumbnail img {
    max-width: 2em;
    max-height: 2em;
}

.panel-heading {
    margin-bottom: 10px;
}

.panel-body {
    padding-top: 0;
}

.cls-message-img {
    max-height: 20em;
    overflow: hidden;
}

.cls-img-wrapper {
    overflow: hidden;
    float: left;
}

.cls-img-wrapper img {
    width: 100%;
}

.cls-message-action {
    clear: left;
    margin-top: 10px;
}

#id-login-table {
    margin-top: 20em;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    box-shadow: 5px 5px 25px #888888;
}

#id-login-choices td {
    padding: 5em 8em;
    text-align: center;
    border: 1px solid #d8d3d3;
}