<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-theme.min.css" %}">
        <link rel="stylesheet" href="{% static "main/style.css" %}">

        <title>{% if title %}{{ title }}{% else %}Twiwei{% endif %} (*^__^*)</title>
    {% endblock %}
</head>

<body>

<div id="id-page-content">
    {% block content %}

    {% endblock %}
</div>

<div id="id-page-footer">
    {% block footer %}

    {% endblock %}
</div>


{% block script %}
    <script src="{% static "jquery/jquery-2.2.4.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "moment/moment.js" %}"></script>

    <script>
        var $SCRIPT_ROOT = "{% url 'main:home' %}";
        var $WEBSOCKET_URL = "{{ WEBSOCKET_URL }}";
    </script>
    <script src="{% static "main/script.js" %}"></script>
{% endblock %}

</body>

</html>

{#uwsgi --virtualenv /home/john/twiwei/env/ --socket /home/john/twiwei/tmp/django.socket --buffer-size=32768 --workers=5 --master --module wsgi_django#}
{#uwsgi --virtualenv /home/john/twiwei/env/ --http-socket /home/john/twiwei/tmp/web.socket --gevent 1000 --http-websockets --workers=2 --master --module wsgi_websocket#}