{% extends "components/_base.html" %}

{% block content %}

    <div class="container">

        <div class="col-md-6 col-md-offset-3">

            {% include "components/_top_nav.html" %}

            <div id="id-user-info">
                <table class="table table-hover">
                    <tr>
                        <th>Twi</th>
                        {% if current_user.is_linked_to_twi %}
                            <td>已连接</td>
                            <td>取消</td>
                        {% else %}
                            <td>未连接</td>
                            <td><a href="/login?site=twitter">连接</a></td>
                        {% end %}
                    </tr>
                    <tr>
                        <th>Wei</th>
                        {% if current_user.is_linked_to_wei %}
                            <td>已连接</td>
                            <td>取消</td>
                        {% else %}
                            <td>未连接</td>
                            <td><a href="/login?site=weibo">连接</a></td>
                        {% end %}
                    </tr>
                </table>
            </div>

        </div>
    </div>
{% end %}