{% extends "components/_base.html" %}

{% block content %}

<div class="container" style="padding: 2px">

    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12" style="padding: 0">
        {% include "components/_top_nav.html" %}

        {% include "components/_msg_list.html" %}

        <div id="id-load-more">
            <span id="id-load-more-text">加载更多...</span>
            <a href="#id-top-nav"><span id="id-back-to-top" class="glyphicon glyphicon-chevron-up"
                                        aria-hidden="true"></span></a>
        </div>

        {% if current_user %}
        <div id="xsrf">
            {% module xsrf_form_html() %}
        </div>
        {% end %}

    </div>
</div>

{% end %}