{% extends "main/_base.html" %}

{% block content %}

    <div class="container">

        <div class="col-md-6 col-md-offset-3">

            <nav class="navbar navbar-default" role="navigation">
                <div id="id-top-nav" class="navbar-header">
                    <a role="presentation" class="navbar-brand" href="#">Home</a>
                    <a role="presentation" class="navbar-brand" href="#">Twitter</a>
                    <a role="presentation" class="navbar-brand" href="#">Weibo</a>
                </div>
            </nav>


            <div id="id-message-list">

                <div class="cls-message-items from-twitter panel panel-info">

                    <div class="panel panel-heading">
                        <span class="cls-user-thumbnail">
                            <img src="https://pbs.twimg.com/profile_images/751072492345782272/xAIzLGl9_bigger.jpg"
                                 alt="">
                        </span>
                        <span class="cls-message-info">
                            <span class="cls-user-name">Pokemon GO!</span>
                            <span class="cls-message-time">  23小时</span>
                        </span>
                    </div>

                    <div class="panel panel-body">
                        <div class="cls-user-message">
                            <div class="cls-message-content">
                                <p>Everyone after a week of PokemonGO</p>
                                <img src="https://pbs.twimg.com/media/Cm3bhh3WcAACbvT.jpg" alt="">
                            </div>

                            <div class="cls-message-action">
                                <span>转发</span>
                                <span>评论</span>
                                <span>喜欢</span>
                                <span>更多</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>


    {#    <div class="col-mid-4">#}
    {#        <div id="id-page-right">#}
    {#            right side#}
    {#        </div>#}
    {#    </div>#}


{% endblock %}