<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="{{ static_url('bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('bootstrap/css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('magnific/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ static_url('main/style.css') }}">

    <title>Twiwei (*^__^*)</title>
    {% end %}
</head>

<body>

<div id="id-page-content">
    {% block content %}

    {% end %}
</div>

<div id="id-page-footer">
    {% block footer %}

    {% end %}
</div>

<div id="id-scripts">
    {% block script %}
    <script src="{{ static_url('jquery/jquery-2.2.4.min.js') }}"></script>
    <script src="{{ static_url('bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('moment/moment.js') }}"></script>
    <script src="{{ static_url('magnific/jquery.magnific-popup.min.js') }}"></script>
    <script>
        var $SCRIPT_ROOT = "/";
    </script>
    <script src="{{ static_url('main/script.js') }}"></script>

    {% end %}
</div>


</body>

</html>
