<div id="id-message-list">

    <div class="cls-message-items from-wei" style="display: none;">

        <div class="col-md-1 col-sm-1 col-xs-1 cls-message-left">
            <span class="cls-user-thumbnail">
                <img src="#"
                     alt="">
            </span>

        </div>

        <div class="col-md-11 col-sm-11 col-xs-11 cls-message-right">
            <span class="cls-message-info">
                <span class="cls-user-name">#</span>
                <span class="cls-message-time">#</span>
            </span>
            <div class="cls-user-message">

                <div class="cls-message-content">
                    <p class="cls-message-text">#</p>
                    <div class="cls-message-img">

                        <div class="cls-img-wrapper grid">
                        </div>

                    </div>
                </div>

                <div class="cls-message-action">
                    <span class="col-md-3 col-sm-3 col-xs-3 glyphicon glyphicon-retweet" title="转发"></span>
                    <span class="col-md-3 col-sm-3 col-xs-3 glyphicon glyphicon-heart unlike" title="喜欢"></span>
                    <span class="col-md-3 col-sm-3 col-xs-3 glyphicon glyphicon-share-alt" title="评论"></span>
                </div>

            </div>
        </div>


    </div>

</div>
