<div id="id-message-list">

    <div class="cls-message-items from-wei" style="display: none;">

        <div class="col-md-1 col-sm-1 col-xs-1 cls-message-left">
            <span class="cls-user-thumbnail">
                <img src="#"
                     alt="">
            </span>

        </div>

        <div class="col-md-11 col-sm-11 col-xs-11 cls-message-right">
            <span class="cls-message-info">
                <span class="cls-user-name">#</span>
                <span class="cls-user-screen-name" style="display: none">#</span>
                <span class="cls-message-time">#</span>
            </span>

            <div class="cls-user-message">

                <div class="cls-message-content">
                    <p class="cls-message-text">#</p>
                    <div class="cls-message-img">

                        <div class="cls-img-wrapper grid">
                        </div>

                    </div>

                    <div class="cls-message-target">
                    </div>

                </div>

                <div class="cls-message-action">
                    <span class="col-md-3 col-sm-3 col-xs-3 glyphicon glyphicon-retweet cls-retw-msg" title="转发"
                          data-toggle="modal" data-target="#id-retw-weibo-1234567"></span>
                    <span class="col-md-3 col-sm-3 col-xs-3 glyphicon glyphicon-share-alt cls-reply-msg" title="评论"
                          data-toggle="collapse" data-target="#id-reply-wei-1234567"></span>
                    <span class="col-md-3 col-sm-3 col-xs-3 glyphicon glyphicon-heart cls-like-msg" title="喜欢"></span>
                </div>

                <div class="modal fade cls-message-retw" id="id-retw-weibo-1234567" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <input type="text" class="form-control" placeholder="对原消息进行评论">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default cls-retw-modal-cancel"
                                        data-dismiss="modal">取消
                                </button>

                                <button type="button" class="btn btn-primary cls-retw-modal-confirm">转发</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="collapse cls-message-reply" id="id-reply-weibo-1234567">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control cls-reply-text">
                        <span class="input-group-addon btn cls-reply-btn">回复</span>
                    </div>

                    <ul>
                    </ul>
                </div>


            </div>

        </div>


    </div>

</div>
