<div id="id-user-info" class="row">
    <div id="id-user-detail" class="col-md-8 col-sm-8 col-xs-8">
        <div id="id-user-basic-info">
                <span id="id-user-screen-name" title="昵称">
                    古月一
                </span>
            <span id="id-user-gender" title="性别">
                    男
                </span>
            <span id="id-user-location" title="城市">
                    广州
                </span>
        </div>
        <div id="id-user-activity">
                <span id="id-user-posts" title="微博数量">
                    999
                </span>
            <span id="id-user-followers" title="粉丝数量">
                    999
                </span>
            <span id="id-user-followed" title="关注数量">
                    999
                </span>
        </div>
    </div>


    <div id="id-user-img" class="col-md-4 col-sm-4 col-xs-4">
        <img src="http://tva4.sinaimg.cn/crop.0.0.1328.1328.50/9e9fa9b5jw8f62p98umq3j210w10wjz8.jpg" alt="">
        <span>已关注</span>

    </div>
</div>